.headerstyle {
  margin: 0;
}

.menubar {
    margin-top:10px;
    text-align: left;
    z-index: 1000;
    margin-bottom: 10px;
}

.menubar ul {
    position: static !important;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menubar ul li {
    padding: 0 0 10 0;
    background: #fff;
    margin: 2px;
    width:100%;
}
