      <!-- Navbar Section -->
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img class="navbar-logo" src="/assets/images/logo.png" alt="logo"/>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
              {% for item in site.data.menu.other_links %}
                <li class="nav-item"><a class="nav-link" href="{{ item[1] }}">{{ item[0] }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav><!-- Navbar End -->
